{% extends 'base.html' %}


{% block title %}Reagendar Serviço{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Agendar Serviço</h1>
        <form action="{% url 'reschedule_appointment' id %}" method="POST">{% csrf_token %}

            <div class="form-group">
                <label for="service">Tipo de Corte</label>
                <select id="type" name="type" class="form-control">
                    {% for type in service_type %}
                        <option value="{{ type|upper }}">{{ type|title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="date_time">Data e Hora</label>
                <input type="date" id="date" name="date_time" class="form-control" required hx-get="{% url 'hours_list' %}?date={{ date }}" hx-target="#hours">
            </div>

            <div class="form-group">
                <label for="hours">Horários Disponíveis</label>
                <select name="hours" id="hours" class="form-control">
                    <option value="">---</option>
                </select>
            </div>
            <br>

            <button type="submit" class="btn btn-primary btn-block">Agendar</button>
        </form>
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
