{% extends 'base.html' %}

{% block li %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register'%}" >
            <i class="fas fa-concierge-bell">Cadastre-se</i>
        </a>
    </li>

    <li class="nav-item"></li>
        <a class="nav-link" href="{% url 'login'%}" >
            <i class="fas fa-concierge-bell">Login</i>
        </a>
    </li>

{% endblock %}

{% block content %}
<body>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">     
                <h1 class="text-center">Recuperar Senha </h3>
                    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
                        
                        <div class="form-group">
                            <label for="recover_password_for_email">Informe o email</label>
                            <input type="text" class="form-control" id="recover_password_for_email" name="recover_password_for_email" placeholder="Informe o email cadastrado" required value="{{start_work}}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </form>
                </div>
            </div>       
        </div>
    <br>
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}        
</body>
{% endblock %}
