{% extends 'base.html' %}

{% block content %}
    <body>    
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title text-success">E-mail Enviado com Sucesso!</h3>
                            <p class="card-text">Um e-mail de recuperação de senha foi enviado para o seu endereço de e-mail. Por favor, verifique sua caixa de entrada e siga as instruções para redefinir sua senha.</p>
                            <a href="{% url 'login'%}" class="btn btn-primary">Voltar para a página inicial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}