{% extends 'base.html' %}

{% block title %}Adicionar Cortes De Cabelo{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">     
                <h1 class="text-center">Cadastrar Novos Serviços</h3>
                <form action="{% url 'register_service' %}" method="POST">{% csrf_token %}
                
                    <div class="form-group">
                        <label for="haircut_name">Corte De Cabelo</label>
                        <input type="text" class="form-control" id="haircut_name" name="haircut_name" placeholder="Digite o nome do corte de cabelo" required value="{{haircut_name}}">
                    </div>
                    <div class="form-group">
                        <label for="haircut_price">Valor do corte</label>
                        <input type="text" class="form-control" id="haircut_price" name="haircut_price" placeholder="Digite o valor do corte exemplo: 10.00 " required value="{{haircut_price}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
                </form>
            </div>
        </div>       
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}